{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}" />
{% endblock %}

{% block title %}
  Choices - QuizVerse
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
  <div class="auth-container quizzes-container">
    <h3 class="question-h2">Choices for ' {{ question.text }} ' </h3>
    <div class="quiz-section">
      <div class="quiz-list">
        {% for choice in choices %}
          <div class="quiz-item">
            <div class="quiz-title">{{ choice.text }} - {{ choice.is_correct }}</div>
            <div class="quiz-cruds">
              <a href="{% url 'choice_update' quiz.id question.id choice.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="{% url 'choice_confirm_delete' quiz.id question.id choice.id %}"><i class="fa-solid fa-trash"></i></a>
            </div>
          </div>
        {% empty %}
          <div>No Choice yet.</div>
        {% endfor %}
      </div>
    </div>

    <div class="question-form">
      {% if not choice %}
        <h3>Add The Choice</h3>
        <form method="POST" action="{% url 'choice_add' quiz.id question.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Add Choice</button>
        </form>
      {% else %}
        <h3>Update Choice</h3>
        <form method="POST" action="{% url 'choice_update' form.instance.question.quiz.id form.instance.question.id form.instance.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Update Choice</button>
        </form>
      {% endif %}
    </div>

    <a href="{% url 'question_list' quiz.id%}" class="back-link">Back to Questions</a>
  </div>
{% endblock %}
