{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}" />
{% endblock %}

{% block title %}
  Choices - QuizVerse
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
  <div class="auth-container quizzes-container">
    <h2 class="question-h2">Choices for "{{ quiz.title }}"</h2>
    <div class="quiz-section">
      <div class="quiz-list">
        {% for question in questions %}
          <div class="quiz-item">
            <div class="quiz-title">{{ choice.text }}</div>
            <div class="quiz-cruds">
              {% comment %} <a href="{% url 'question_update' quiz.id question.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="{% url 'question_confirm_delete' quiz.id question.id %}"><i class="fa-solid fa-trash"></i></a> {% endcomment %}
            </div>
          </div>
        {% empty %}
          <div>No questions yet.</div>
        {% endfor %}
      </div>
    </div>

    <div class="question-form">
      {% comment %} {% if not Choice %}
        {% endcomment %}
        <h3>Add The Choice</h3>
        {% comment %}action="{% url 'question_add' quiz.id %}"{% endcomment %}
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Add Choice</button>
        </form>
        {% comment %}
      {% else %}
        <h3>Update Question</h3>
        <form method="POST" action="{% url 'question_update' form.instance.quiz.id form.instance.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Update Question</button>
        </form>
      {% endif %} {% endcomment %}
    </div>

    <a href="{% url 'quiz_list' %}" class="back-link">Back to Questions</a>
  </div>
{% endblock %}
