{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}" />
{% endblock %}
{% block title %}
  Quizzes - QuizVerse
{% endblock %}
{% block hero %}

{% endblock %}
{% block content %}
  <div class="auth-container quizzes-container">
    {% if not quiz %}
      <h3>Available Quizzes</h3>
      <div class="quiz-section">
        <div class="quiz-list">
          {% for quiz in quizzes %}
            <div class="quiz-item">
              <div class="quiz-title">
                <a href="{% url 'question_list' quiz.id %}" class="quiz-link">{{ quiz.title }}</a>
              </div>
              <div class="quiz-cruds">
                <a href="{% url 'quiz_update' quiz.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'quiz_confirm_delete' quiz.id %}"><i class="fa-solid fa-trash"></i></a>
              </div>
            </div>
          {% empty %}
            <div>No quizzes yet.</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="quiz-form">
      {% if not quiz %}
        <h3>Create a New Quiz</h3>
        <form method="post" action="{% url 'quiz_add' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Add Quiz</button>
        </form>
      {% else %}
        <h3>Update Quiz Info</h3>
        <form method="post" action="{% url 'quiz_update' quiz.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn">Update Quiz</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
