{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}" />
{% endblock %}

{% block title %}
  Quizzes - QuizVerse
{% endblock %}

{% block hero %}

{% endblock %}

{% block content %}
  <div class="auth-container quizzes-container">
    <h2>Available Quizzes</h2>

    <div class="quiz-section">
      <ul class="quiz-list">
        {% for quiz in quizzes %}
          <li class="quiz-item">
            <a href="{% url 'question_list' quiz.id %}" class="quiz-link">{{ quiz.title }}</a>
          </li>
        {% empty %}
          <li>No quizzes yet.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="quiz-form">
      <h3>Create a New Quiz</h3>
      <form method="post" action="{% url 'quiz_add'%}" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Add Quiz</button>
      </form>
    </div>
  </div>
{% endblock %}
