{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/other.css' %}" />
{% endblock %}

{% block content %}
  <div class="auth-container">
    <h2>Profile: {{ user.username }}</h2>

    {% if profile.profile_image %}
      <a href="{% url 'edit_profile' %}"><img src="{{ user.profile.profile_image }}" alt="Profile Image" style="width:200px; height:200px; border-radius:50%; object-fit: coverborder:2px solid #11182d; margin-bottom:15px;" /></a>
    {% else %}
      <a href="{% url 'edit_profile' %}"><img src="https://tse4.mm.bing.net/th/id/OIP.QD_JW-y3pl5s8LY4lwkn9QAAAA?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3" alt="Default Image" style="width:120px; height:120px; border-radius:50%; object-fit:cover; border:2px solid #11182d; margin-bottom:15px;" />
    {% endif %}

    <p>
      <strong>Email:</strong> {{ user.email }}
    </p>
    <p>
      <strong>User Type:</strong> {{ profile.user_type|capfirst }}
    </p>

    {% if message %}
      <p style="color:green; margin-top:10px;">{{ message }}</p>
    {% endif %}
  </div>
{% endblock %}
