* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: 'Markazi Text', serif;
    background: #030617;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #030617;
    padding: 40px;
    color: #fbaf04;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


form ul li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffffb4;
    text-align: left;
    margin-left: 30px;
}

p label {
    font-size: 22px !important;
}

.auth-container {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    margin: 40px;
}

.auth-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fbaf04;
}

.auth-container form p {
    text-align: left;
    margin-bottom: 15px;
}

.auth-container label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #ffffff;
}


.auth-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
}

.delete-form a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: orange;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
    margin: 10px;

}

main .delete-form {
    display: flex;
    flex-direction: row !important;
}

main .delete-form button {
    background: #fff;
    color: #11182d;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 10px;
    margin: 10px;
}

.auth-container button {
    background: #fbaf04;
    color: #2c2c54;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.auth-container button:hover {
    background: #fbaf04;
    transform: scale(1.05);
}

.auth-container p {
    margin-top: 15px;
    font-size: 1em;
    color: #ffffffb4;
}

.auth-container a {
    color: #555 !important;
    text-decoration: none;
    font-size: 23px !important;
}

.auth-container a:hover {
    color: #fbaf04;

}

.quiz-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.quiz-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.quiz-title {
    color:#333;
    font-weight: bold;
    text-align: left;
    flex: 1;
}

.quiz-cruds {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.quiz-cruds a {
    color: #555;
    font-size: 18px;
    text-decoration: none;
}

.quiz-cruds a:hover {
    color: #11182d;
}

.quiz-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    text-align: left;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    color: #ffffffb4;
}


.form-group input,
.form-group textarea {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #11182d;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

textarea#id_description {
    border-radius: 10px;
}

.question-h2{
    font-size: 25px !important;
}